<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimhakjin.timecheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeCheck">
        <service
            android:name=".NotiService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".Loading"
            android:label="Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".AddInfo"
            android:label="@string/add_info" />
        <activity
            android:name=".StopInfo"
            android:label="@string/stop_info" />
        <activity
            android:name=".InfoNoti"
            android:label="@string/noti" />
    </application>

</manifest>